@font-face {
  font-family: "bold";
  src: url(./assets/fonts/static/Inconsolata-ExtraBold.ttf);
}

@font-face {
  font-family: "thin";
  src: url(./assets/fonts/static/Inconsolata-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  text-align: center;
}
h1,
h2,
h3 {
  font-family: "bold";
}
p {
  font-family: "thin";
}
body {
  width: 100%;
  padding: 30px 0;
  font-weight: 100;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(./assets/images/background-desktop.png);
  position: relative;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header img {
  width: 13%;
  margin: 0 0 30px 0;
  font-weight: 100;
}

header h1 {
  font-size: 2.5em;
}

header p {
  font-size: medium;
  line-height: 50px;
}

form {
  margin-top: 20px;
  width: 30%;
  background: hsl(243.69deg 93.33% 7% / 45%);
  padding: 20px;
  border-radius: 10px;
  z-index: 10;
  position: relative;
}

label p {
  font-size: 17px;
  text-align: left;
}

#upload-image {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  background: hsl(250deg 34.88% 25.8% / 37%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid;
  border-style: dashed;
  font-family: "thin";
}

#upload-image img {
  padding: 3px;
  border-radius: 10px;
  background: hsl(245, 19%, 35%);
  cursor: pointer;
  width: 50px;
  height: 50px;
}

#info-message {
  padding: 10px 0;
  display: flex;
  justify-content: start;
  align-items: center;
  backdrop-filter: blur(2px);
}

#info-message p {
  font-size: 12px;
}

#info-message img {
  margin-right: 10px;
}

#inputs {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  text-align: left;
  margin-top: 10px;
  backdrop-filter: blur(1px);
  background: hsl(250deg 34.88% 25.8% / 37%);
  border-radius: 10px;
  border: 1px solid white;
  margin-bottom: 10px;
  cursor: pointer;
}

#Generate-ticket {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  margin-top: 10px;
  color: black;
  font-weight: bold;
  background: hsl(7, 86%, 67%);
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}

.lines {
  width: 100%;
  height: 65%;
  background-image: url(./assets/images/pattern-lines.svg);
  position: absolute;
  background-size: cover;
  top: 0;
  z-index: 1;
}

.lines img {
  position: absolute;
  top: 10%;
  right: 0;
}

.circle1 {
  width: 20%;
  height: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(./assets/images/pattern-circle.svg);
  position: absolute;
  top: 0;
  left: 0;
}
.circle2 {
  width: 20%;
  height: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(./assets/images/pattern-circle.svg);
  position: absolute;
  bottom: 10%;
  right: 16%;
}

.bottom-img-holder {
  width: 100%;
  display: flex;
  justify-content: left;
  position: absolute;
  z-index: 1;
  bottom: 0;
}

.bottom-img-holder img {
  height: 410px;
}

#name {
  text-align: center;
  background: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
  background-clip: text;
  color: transparent;
  font-family: "bold";
}

#ticket-page {
  height: 100vh;
}

#ticket-holder {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 10;
  align-items: center;
}

#ticket-holder #ticket {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  position: relative;
}

.ticket-background {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ticket-holder #ticket-content {
  width: 75%;
  display: flex;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  height: 80%;
}

#ticket-content #content {
  width: 300px;
  height: 100%;
  border-radius: 10px;
}

#ticket-content #content:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#ticket-content #content:nth-child(2) .avatar {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.user-ticket-info {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ticket-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "thin";
}

.ticket-info img {
  width: 20px;
}
