@media (max-width: 375px) {
  header h1,
  .header {
    font-size: 1.6rem;
    width: 100%;
  }
  form {
    width: 95%;
    margin-top: 0;
    padding: 5px;
  }

  header {
    width: 92%;
  }

  body {
    background-image: url(/assets/images/background-mobile.png);
    background-size: inherit;
  }

  header img {
    width: 50%;
  }

  header p {
    line-height: 20px;
    margin: 12px;
  }

  label p {
    font-size: 16px;
    margin-top: 10px;
  }

  .lines img {
    position: absolute;
    top: 10%;
    right: 0;
    width: 52%;
  }

  #upload-image img {
    width: 40px;
    height: 40px;
  }

  #upload-image {
    font-size: 11px;
  }

  #info-message p {
    font-size: 11px;
  }

  #info-message {
    justify-content: center;
  }

  .input-name,
  .input-email,
  .input-github {
    height: 50px;
    font-size: small;
  }

  #Generate-ticket {
    height: 50px;
  }

  .bottom-img-holder {
    position: absolute;
    filter: blur(7px);
  }

  .bottom-img-holder img {
    height: 140px;
  }

  .ticket-is-ready {
    width: 90%;
    line-height: 20px;
    margin: 20px 0;
    padding: 0;
    font-size: 16px;
  }

  footer {
    bottom: 0;
    font-size: xx-small;
  }

  #name {
    font-size: 1.2em;
  }

  section {
    height: 40px;
  }

  .ticket-background {
    width: 98%;
  }

  #ticket-holder {
    height: 190px;
  }

  #ticket-holder #ticket-content {
    width: 88%;
  }

  #ticket-content #content:nth-child(2) {
    width: 100%;
  }

  #ticket-holder #ticket {
    width: 100%;
  }

  #id {
    right: 2px;
    font-size: 1.5em;
    opacity: 0.5;
  }

  .user-ticket-info {
    width: 100%;
    height: 100%;
  }

  #logo-full {
    width: 50%;
  }

  #current-event {
    font-size: 16px;
  }

  #ticket-name {
    width: 80%;
    text-align: left;
    font-size: 18px;
  }

  main {
    width: 92%;
  }
}
